<%- include("header") %>

<div class="container-fluid">
  <div class="row">
    <div class="col col-6"><%- include("title") %></div>
    <div class="col col-6 d-flex justify-content-end mb-5">
      <h1><i class="fa-regular fa-file-excel"></i><%= language %></h1>
    </div>
  </div>
  <div>
    <p class="form-label">Kunci Jawaban</p>
    <div class="form-control">
      <p><%= keyAnswer %></p>
    </div>
  </div>
  <div class="text-center container-fluid">
    <p>Mohon mengisi survey kepuasan anda terhadap Easysay</p>
    <button type="button" class="btn btn-info">
      <a
        href="https://forms.gle/FApH5uzhVbRB4NtY9"
        target="_blank"
        class="link-body-emphasis"
        >Survey 3 menit</a
      >
    </button>
  </div>
  <div>
    <p class="form-label">Hasil Penilaian</p>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Jawaban</th>
            <th scope="col">Nilai</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < givenObjectKeyLength; i++ ) { %>
          <tr>
            <td><%= objectName[i] %></td>
            <td><%= objectAnswer[i] %></td>
            <td><%= ((objectScore[i]/5)*100).toFixed(2) %>%</td>
          </tr>
          <br />
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container-fluid text-center mb-2">
  <button type="button" id="print" class="btn btn-secondary">
    Export to PDF
  </button>
</div>
<script src="js/printResult.js"></script>

<%- include("footer") %>
